<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="TrainsMonitorDb" connectionString="data source=n2t3fk1amv.database.windows.net;initial catalog=trainsmonitorDb;persist security info=True;user id=valodzya;password=123456qwe!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>